/* fonts */
@font-face {
    font-family: 'roboto';
    src: url('Roboto-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'roboto';
    src: url('Roboto-Light.ttf');
    font-weight: 300;
}

/* global reset */
html, body, body div, div, span, h1, h2, h3, h4, h5, h6, p, a, em, img, small, strike, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, aside, section, article, header, footer, main, input, textarea, button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    box-sizing: content-box;
}
ol, ul, li {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input, textarea {
    font: inherit;
    box-sizing: border-box;
}

/* main */
body {
    font-family: 'roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: rgba(31,63,104,.6);

/*    position: relative;*/

    min-width: 375px;
}
header {
    drop-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    position: absolute;
    top: 30px;
    width: 1140px;
    height: 48px;
    left: 50%;
    margin-left: -570px;
}
footer {
    color: #fff;
    background: #316099;
}
section {
    width: 1140px;
    margin: 0 auto;
}

/* header */
header a {
    position: absolute;
    top: 0;
    bottom: 0;
}
.logo {
    left: 0;
    width: 46px;
}
.contacts {
    padding-top: 5px;
    right: 0;
    width: 34px;
}

/* footer */
footer section {
    padding: 64px 0;
}
.footer_wrap {
    border-top: 1px solid rgba(255,255,255,.4);
}
footer ol {
    display: flex;
    justify-content: space-between;
}
footer li {
    list-style-type: upper-latin;
    list-style-position: inside;
    flex: none;
    width: 350px;
}
footer li span {
    margin-left: 25px;
    display: inline-block;
    vertical-align: top;
    width: 250px;
}
.copy {
    margin: 64px 0 0;
    opacity: 0.4;
}

/* content */
.main_wrap {
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 0%, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.main_top {
    padding-top: 190px;
    background: url('bigimage.png') right 190px no-repeat;
    height: 492px;
}
h1 {
    width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.main_top > div {
    width: 425px;
}
.main_top button {
    font-family: 'roboto';
}
#map {
    height: 480px;
    width: 940px;
    margin: 100px auto;
}





.toptext {
    font-weight: 400;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.05em;
    text-align: left;
    margin-top: 32px;
}
.topbutton{
    height: 56px;
    width: 220px;
    border-radius: 10px;
    background: #5A98D0;
    margin-top: 86px;
    color: white;
}
.pictext{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;
    margin-top: 64px;
}
.piccontainer{
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    height: 480px;
    margin-top: 64px;
    justify-content: space-between;
}
.picelement{
    width: 360px;
    height: 480px;
    margin-top: 0px;
}
.pic1 {
    height: 122px;
    width: 183px;
    background: url('pic1.png') top no-repeat;
    display: block; 
    box-sizing: border-box;
}
.pic2 {
    height: 122px;
    width: 183px;
    background: url('pic2.png') top no-repeat;
    display: block; 
    box-sizing: border-box;
}
.pic3 {
    height: 122px;
    width: 183px;
    background: url('pic3.png') top no-repeat;
    display: block; 
    box-sizing: border-box;
}
/*main_bottom*/


main_bottom_wrap{
/*    border-top: Offset: 0px, 4px rgba(0, 0, 0, 0.25) radius 4px;*/
    background: /*linear-gradient(89.99deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%),*/ url('pic2b1beta.png') top no-repeat;
}*/
.pic2container h3{
    font-family: Roboto;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    color: white;
    vertical-align: top;
    letter-spacing: 5%;
}

.pic2text{
    font-family: Roboto;
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #000000;
    margin-top: 64px;
}
.pic2container{
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    height: 480px;
    margin-top: 64px;
    justify-content: space-between;
}
.pic2element{
    width: 554px;
    height: 480px;
    margin-top: 0px;
}
.pic2b1beta {
width: 1140px;
height: 480px;
background: url('pic2b1beta.png') top no-repeat;
}
/*    height: 122px;
    width: 183px;
    background: url('pic1.png') top no-repeat linear-gradient(89.99deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%) ;
    display: block; 
    box-sizing: border-box;
*/
.pic3container h3{
    font-family: Roboto;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    color: white;
    vertical-align: top;
    letter-spacing: 5%;
}
.pic3container{
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    height: 480px;
    margin-top: 32px;
    justify-content: space-between;
}
.pic3element{
    width: 554px;
    height: 480px;
    margin-top: 0px;
}
.pic2b2 {
    height: 417px;
    width: 554px;
    background: url('pic2b2.png') top no-repeat;
    display: block; 
    box-sizing: border-box;
}
.pic2b3 {
    height: 417px;
    width: 554px;
    background: url('pic2b3.png') top no-repeat;
    display: block; 
    box-sizing: border-box;
}
/*.picbig {
position: absolute;
width: 1140px;
height: 480px;
left: 113px;
top: 1675px;
background: linear-gradient(89.99deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%);
}
*/
/*.container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}*/

/*page2*/
.mainpage2{
    width: 1366px;
}
.tiitle {
    height: 250px;
    max-width: 1366px;
    background: url('tiitle.png') top no-repeat;
    display: block; 
    box-sizing: border-box;
    margin-top: 129px;
}
.containerpage2{
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    height: 668px;
    margin-top: 64px;
    justify-content: space-between;
}

.girlpage2 {
    height: 181px;
    width: 301px;
    background: url('girlpage2.jpg') top no-repeat;
    display: block; 
    box-sizing: border-box;
    padding-top: 181px;
}
.group {
    height: 800px;
    width: 540px;
    background: url('group.png') top no-repeat;
    display: block; 
    box-sizing: border-box;
    margin-top: -57px;
}
.contacts2 {

    width: 299px;
}
/*.group4 {
    height: px;
    width: 299px;
    background: url('group4.png') top no-repeat;
    display: block; 
    box-sizing: border-box;
    padding-left: 299px;
}*/

/* adaptiv */

@media screen and (max-width:1200px) { /* ноут */
    header {
        max-width: 970px;
        margin-left: -350px;
    }
    section {
        max-width: 970px;
    }
    footer section {
        max-width: 970px;
    }
    footer ol {
        display: block;
    }
    footer li {
        width: 100%;
    }
    footer li span {
        width: auto;
        margin-left: 40px;
    }
    footer li + li {
        margin-top: 20px;
    }
    #map {
        width: 100%;
        max-width: 970px;
        margin: 64px auto;
        height: 392px;
    }
}
@media screen and (max-width:992px) { /* планшет */
    header {
        width: auto;
        margin-left: 0;
        left: 16px;
        right: 16px;
        top: 16px;
    }
    section {
        width: auto;
        margin: 0 16px;
    }
    footer section {
        width: auto;
        padding: 32px 0;
    }
    footer ol {
        padding-left: 20px;
    }
    footer li {
        list-style-position: outside;
    }
    footer li span {
        margin-left: 20px;
    }
    #map {
        height: 350px;
        margin: 32px auto;
    }
}
@media screen and (max-width:767px) { /* моб */
    header {
        width: auto;
        margin-left: 0;
        left: 16px;
        right: 16px;
        top: 16px;
    }
    section {
        width: auto;
        margin: 0 16px;
    }
    footer section {
        width: auto;
        padding: 32px 0;
    }
    footer ol {
        padding-left: 20px;
    }
    footer li {
        list-style-position: outside;
    }
    footer li span {
        margin-left: 20px;
    }
    #map {
        height: 350px;
        margin: 32px auto;
}
}
